/* 头部部分 */
.header-box {
    height: 102px;
    position: relative;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-box .logo {
    display: inline-block;
    width: 170px;
    height: 103px;
    background: url(../images/logo1.png) no-repeat center;
}
.header-box .bg {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 11px;
    background: url(../images/header-bg.png) repeat-x;
}

.register-box {
    width: 400px;
    margin: 40px auto;
    font-family: "simsun", Verdana, Arial;
    font-size: 12px;
}
.register-title {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.register-title .name {
    color: #010101;
    font-size: 18px;
    font-family: "Source Han Sans CN", Verdana, Arial;
}
.register-title .right-text {
    top: 0;
    position: absolute;
    right: 0;
}
.register-title .right-text a {
    color: #2369aa;
}
.check-p {
    color: #9c9c9c;
    font-size: 12px;
    margin-bottom: 23px;
}
.check-p input {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
}
.check-p a {
    color: #9c9c9c;
}
.user-default-btn {
    display: block;
    text-align: center;
    border: 0;
    height: 47px;
    line-height: 47px;
    background: #ff3736;
    color: #ffffff;
    font-size: 18px;
    font-family: "Source Han Sans CN", Verdana, Arial;
}
.from-group-ul .list {
    position: relative;
    margin-bottom: 38px;
}
.from-div-list {
    position: relative;
    background: #ffffff;
    height: 54px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
}
.from-div-list .label-text {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 54px;
    color: #171717;
    font-size: 14px;
    font-family: "Source Han Sans CN", Verdana, Arial;
    padding-left: 10px;
}
.from-div-list .input-text {
    height: 54px;
    border: 0;
    display: block;
    padding-left: 115px;
    width: 100%;
    font-size: 14px;
}
.from-group-ul .list .info {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.footer-box {
    font-family: "simsun", Verdana, Arial;
    font-size: 12px;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    padding: 30px 0;
    color: #7f7f7f;
}
.footer-box p {
    line-height: 30px;
    text-align: center;
}
.footer-box p a {
    color: #7f7f7f;
    margin-left: 3px;
    margin-right: 3px;
}
.user-default-btn:active,
.user-default-btn:focus,
.user-default-btn:hover{
    text-decoration: none;
    background-color: #ff4d4c;
}
.user-default-btn.inline{
    display: inline-block;
    width: 193px;
}